################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/helmesproject/v17
/.vs/helmesproject/config
/.vs/helmesproject
/helmesproject/bin/Debug/net6.0
/helmesproject/obj
/helmesproject/helmesproject.csproj.user
/helmesproject/ClientApp/.angular/cache
/helmesproject/appsettings.json
/helmesproject/appsettings.Development.json
/helmesproject/helmes.db-wal
/helmesproject/helmes.db-shm
/helmesproject/helmes.db
/my_logs
/helmesproject/*.log
/helmesproject/bin/Release/net6.0
