/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.dropdown {
  max-width: 7%;
  float: left;
  margin-right: 2%;
}

.pagination {
  max-width: 50%;
  float: left;
  margin-right: 4%;
  color: #6c58bF;
}

.pagination > .active > a {
  color: white;
  background-color: #212529 !Important;
  border: solid 1px #5A4181 !Important;
}

.pagination > li > a {
  background-color: white;
  color: black;
}

.pagination > li > a:hover {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}


