/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}


table {
  width: 100%;
}

.mat-column-url {
  width: 30%;
}

.mat-column-title {
  width: 40%;
}

.mat-column-date {
  width: 15%;
}
.mat-column-author {
  width: 15%;
  text-align: center;
}

.mat-header-cell{
    font-weight: bold;
    font-size: 15px;
}




html, body {
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
